.image {
    height:45em; 
    background-size:cover;
    width:auto;
    background-image:url('D:\MASTER\PKI\photo\background.jpg');
    background-position:10% 10%;
}

.btn1 {
    color : rgb(0, 0, 0);
    background-color: rgba(6, 186, 231, 0.96);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    margin-top: 150px;
    margin-right: 85%;
    height: 50px;
    padding: 10px;
    width: 200px;
  }

  .logout{
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    margin-top: 150px;
    margin-right: 85%;
    height: 200px;
    width: 300px;
  }

  .forma{
    color : rgb(0, 0, 0);
    background-color: rgba(199, 211, 214, 0.96);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    margin-top: -750px;
    margin-left: 45%;
    height: 200px;
    padding: 20px;
    width: 300px;
  }



  